<!--  Start Login Page -->
    <div class="overflow-hidden front_form">
        <div class="row g-0">
            <div class="d-none d-md-flex col-md-6 login_bg">
                <div class="front_logo">
                    <img src="<%= asset_path('logo.svg') %>" alt="Sbrigit" width="249"/>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="d-flex flex-column align-items-start justify-content-center px-3 px-md-5 min-vh-100">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <%= f.hidden_field :reset_password_token %>
                    <div class="ls_form">
                        <div class="d-md-none front_logo">
                            <img src="<%= asset_path('logo.svg') %>" alt="Sbrigit" width="249"/>
                        </div>
                        <form class="w-100" action="dashboard.html"> 
                            <div class="title_group text-left mb-4 pb-3"> 
                                <h1 class="h1 mb-3">Change your password</h1>
                            </div>

                            <div class="mb-4"> 
                                <div class="position-relative"><% if @minimum_password_length %>
                                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                                <% end %>
                                    <%= f.password_field :password, autofocus: true , class: "form-control", placeholder: "Enter password", required: true %>
                                </div>
                            </div>
                            

                            <div class="mb-4"> 
                                <div class="position-relative">
                                    <%= f.password_field :password_confirmation, autofocus: true , class: "form-control", placeholder: "Enter password", required: true %>
                                </div>
                            </div>
                            
                            <div class="pt-3">
                                  <%=  f.submit "Change my password", class: "py-md-3 w-100 btn btn-lg btn-primary", type: "submit" %>
                            </div>
                            <%= render "devise/shared/links" %>

                        </form>
                    </div>
                    <%end%>
                </div>
            </div>            
        </div>
    </div>





    <!--  End Login Page -->

   