<!--  Start Login Page -->
<div class="overflow-hidden front_form">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-6 login_bg">
            <div class="front_logo">
                <img src="<%= asset_path('logo.svg') %>" alt="Sbrigit" width="249"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column align-items-start justify-content-center px-3 px-md-5 min-vh-100">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <% if flash[:error] %>
                        <div class="alert alert-danger"><%= flash[:error] %></div>
                    <% end %>
                    <div class="ls_form">
                        <div class="d-md-none front_logo">
                            <img src="<%= asset_path('logo.svg') %>" alt="Sbrigit" width="249"/>
                        </div>
                        <div class="title_group text-left mb-4 pb-3">
                            <h1 class="h1 mb-3">Login</h1>
                        </div>

                        <div class="mb-4">
                            <div class="position-relative">
                                <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Enter email", required: true %>
                                <div class="invalid-feedback" id="email-error"></div>
                            </div>
                        </div>

                        <div class="mb-4">
                            <div class="position-relative">
                                <%= f.password_field :password,  autofocus: true ,class: "form-control",placeholder: "Password", required: true, id: "pwd" %>
                                <div class="invalid-feedback" id="password-error"></div>
                                <button type="button" class="show_hide_pwd" onclick="show()">
                                    <img src="<%= asset_path('icons/hide_password.svg') %>" id="EYE" width="16"/>
                                </button>
                            </div>


                        </div>

                        <div class="mb-4 text-end">
                            <%= link_to 'Forgot Password?', new_user_password_path %>
                        </div>


                        <div class="pt-3">
                            <%=  f.submit "Login", class: "py-md-3 w-100 btn btn-lg btn-primary", type: "submit" %>
                        </div>

                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>

<script>




    function show() {
            var a = document.getElementById("pwd");
            var b = document.getElementById("EYE");
            if (a.type == "password") {
                a.type = "text";
                b.src = "<%= asset_path('icons/show_password.svg') %>";
            } else {
                a.type = "password";
                b.src = "<%= asset_path('icons/hide_password.svg') %>";
            }
        }
</script>


    